img {
    max-width: 10%;
    max-height: 10%;
    margin: auto;
    display: block;
  }


form {
    font-family: Verdana, Sans-serif;
    font-size: 1.2em;
    }
   
  h2 {
    font-family: Verdana, Sans-serif;
    font-size: 2.2em;
    color: rgb(0, 0, 0);
    }
   
  p {
    font-family: Verdana, Sans-serif;
    font-size: 1.2em;
    color: rgb(37, 50, 50);
    }

    h1 {
      font-family: Verdana, Sans-serif;
      font-size: 3em;
      color: rgb(0, 0, 0);
      }
    
      table {
        font-family: Verdana, Sans-serif;
        font-size: 1.2em;
      }
        
   button {
    background-color: #302f2f; 
    border: 2px solid whitesmoke;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 16px;
  }

  button:hover {
    background-color: #ee8b4aa7;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }