{% extends "base.html" %} {% block title %}Mittagessen-Dates{% endblock %} {%
block content %}
<body style="background-color: #ff6d0bb8"></body>
<link rel="stylesheet" href="/static/style.css" />
<br />
<h1>Mittagessen-Dates</h1>
<table class="table">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Datum</th>
      <th>Zeit</th>
      <th>Partner Vorname</th>
      <th>Partner Nachname</th>
      <th>Partner ID</th>
      <th>Ort</th>
      <!-- <th> User ID</th> -->
    </tr>
  </thead>
  <tbody>
    {% for matche in matches %}
    <tr>
      <td>{{ matche.match }}</td>
      <td>{{ matche.details.date }}</td>
      <td>{{ matche.details.time }}</td>
      <td>{{ matche.match_with }}</td>
      <td>{{ matche.match_with_lastName }}</td>
      <td>{{ matche.match_with_id }}</td>
      <td>{{ matche.match_place }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
